@charset "ISO-8859-1";
a{
text-decoration:none}
h3{
padding:20px;
background-color:blue;
margin:0;
}
.sidebar{
position:fixed;
left:0;
width:250px;
height:100%;
background:#042331;
color:white;
}
.sidebar header{
font-size:22px;
color:white;
text-align: center;
line-height:70px;
background:#063146;

}
ul{
list-style-type: none;
}
.sidebar ul a{
display:block;
height:100%;
width:100%;
line-height: 65px;
font-size: 15px;
padding-left:40px;
box-sizing: border-box;
color:white;
 
 
}
ul li:hover a{
padding-left:50px;
}
.sidebar ul a {
margin-right:16px;
}
.box{
        width:380px;
        height:700px;
        position:relative;
        margin:6% auto; 
        background: transparent;
        padding:5px;
        box:shadow;
    }