@charset "ISO-8859-1";

nav {
	font-size: 20px;
	color: black;
	float: left;
	background-color: gray;
	height: 30%;
	margin: 0;
	width: 100%;
	color: white;
	padding:5px
}

h1 {
	margin: 0;
	color: white;
	width: 100%;
	background-color:  olive;
	height: 10%
}

a {
	text-decoration: none;
}

marquee {
	height: 200px;
	color: red;
}
 